{% extends 'layout.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}?version=1">
{% endblock %}

{% block content %}
  <div class="room-container">
    {% for room in room_layout %}
        {% if 'Hallway' in room %}
          <div class="hall">
        {% elif room == "" %}
          <div class="empty">
        {% else %}
          <div class="room">
          <span class="roomtext">{{room}}</span>
        {% endif %}
        
        {% if game_state.whereabouts is not none %}  
          {% for char in game_state.whereabouts %}
            {% if game_state.whereabouts[char] == room %}
              {% set url = char|card_url %}
              {% if url == "" %}
                <div class="in-room-char">{{char}}</div>
              {% else %}
                <div><img class="in-room-char" src="{{url}}" title="{{char}}" style="width:30px;height:30px;"></div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}