<!doctype html>
<title>Clue-Less</title>
<h1>Who done it?</h1>
  <form method="post">
    <label for="username">Your Name</label>
    <input name="username" id="username" required>
    <input type="submit" value="Guess">
  </form>