{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}?version=1">
{% endblock %}

{% block content %}
<div class="form-container">

  <div class="alert">
    {% if accuse_results.correct %}
    It was {{accuse_results.suspect}} with the {{accuse_results.weapon}} in the {{accuse_results.room}}
    {% elif character == turn %}
    It is your turn!
    {% else %}
    Waiting for your turn...
    {% endif %}
  </div>

  {% if character == turn and not accuse_results.correct %}
  <form name=game-form id=game-form class="game-form" method="POST" action="/submit">

    {% if next_action == action_options.SUGGEST or next_action == action_options.ACCUSE %}
    <select name="character" id="character" form_id=character-form>
      <option disabled selected value> Select a character </option>
      {% for character in characters %}
      <option value="{{ character }}">{{ character }}</option>
      {% endfor %}
    </select>

    <select name="weapon" id="weapon" form_id=weapon-form>
      <option disabled selected value> Select a weapon </option>
      {% for weapon in weapons %}
      <option value="{{ weapon }}">{{ weapon }}</option>
      {% endfor %}
    </select>
    {% endif %}

    <select name="room" id="room" form_id=room-form>
      <option disabled selected value> Select a room </option>
      {% for room in rooms %}
      <option value="{{ room }}">{{ room }}</option>
      {% endfor %}
    </select>

    {% if next_action == action_options.MOVE %}
    <input type="submit" name="submit" value="Make a Move">
    {% elif next_action == action_options.SUGGEST%}
    <input type="submit" name="submit" value="Make a Suggestion">
    {% elif next_action == action_options.ACCUSE %}
    <input type="submit" name="submit" value="Make an Accusation">
    {% endif %}

    <input type="submit" name="submit" value="Skip">
    {% endif %}
  </form>
</div>

{% endblock %}