<!doctype html>
<div style="text-align:center">
<title>Clue-Less</title>
<h1>Who done it?</h1>
<form name=join-form id=join-form class="form-inline" method="POST" action="/">
    <label for="name">Name:</label>
    <input name="name" id="name" required>
    <input type="submit" value="Join Game">
</form>
</div>
