<!doctype html>
<div style="text-align:center">
<title>Clue-Less</title>
<h1>Who done it?</h1>
<form name=join-form id=join-form class="form-inline" method="POST">
    <label>Select your character:</label>
    <select name="character" id="character" form_id=character-form>
      {% for character in characters %}
          <option value="{{ character }}">{{ character }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Join Game">
</form>
</div>
