<!doctype html>
<div style="text-align:center">
<title>Clue-Less</title>
<h1>Who done it? Alana Alfeche</h1>
<form name=join-form id=join-form class="form-inline" method="POST" action="/">
    <label for="player">Name:</label>
    <input name="player" id="player" required>
    <input type="submit" value="Join Game">
</form>
</div>
