{% extends 'layout.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/message.css') }}?version=1">
{% endblock %}

{% block content %}
  <div class="message-container">
    <h4>Current turn: {{turn}}</h4>

    {% if suggest_results is not none %}
      <u>Suggestion Result</u>  <br>
      Suspect: {{suggest_results.suspect[0]}} <br>
      Weapon: {{suggest_results.weapon[0]}}  <br>
      Room: {{suggest_results.room[0]}}  <br>
      Disproved by: {{suggest_results.disproved_by[0]}}  <br>
      {% if character == suggest_results.disproved_by[0] or character == suggest_results.suggested_by[0] %}
        Disproved card: {{suggest_results.disproved_card[0]}}
      {% endif %}
    {% endif %}

  </div>
{% endblock %}