{% extends 'layout.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/message.css') }}?version=1">
{% endblock %}

{% block content %}
  <div class="message-container">
    This is a message board where it can display movements by players. <br></br>
    This is a message board where it can display movements by players. <br></br>
    This is a message board where it can display movements by players. <br></br>
    This is a message board where it can display movements by players. <br></br>
    This is a message board where it can display movements by players. <br></br>
    This is a message board where it can display movements by players. <br></br>
    This is a message board where it can display movements by players. <br></br>
  </div>
{% endblock %}