<!doctype html>
<div style="text-align:center">
<title>Clue-Less</title>
<h1>Who done it?</h1>
    <form name=start_game-form id=start_game-form class="form-inline" method="POST">
        <input type="submit" name="start_game" value="Start Game">
    </form>
</div>
