input {
    padding: 10px;
}

.form-container {
    background-color: floralwhite;
    margin: 0px 30px;
    padding: 30px;
}

.game-form {
    display: grid;
    row-gap: 15px;
    grid-template-rows: repeat(3, 30px);
}

.alert {
    border: 2px solid black;
    background-color: tan;
    padding: 20px;
    margin-bottom: 20px;
}

.continue-game {
    display: flex;
    justify-content: center;
}

.continue-game input {
    background-color: tan;
    margin: 20px 5px;
}